div {
    border: 1px solid black;
    margin: 5px;
}

h1 {
    display: none;
}

#second {
    visibility: hidden;
}

#third > p {
    display: none;
}

#second img {
    visibility: visible;
}

img {
    height: 16rem;
}

