.header {
  position: relative;
  margin: 0;
  background-image: url('../img/london.jpg');
  height: 20.0625rem;
}

.header__title {
  font-size: 4.6rem;
  position: absolute;
  bottom: 8.75rem;
  right: 40rem;
  color: white;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
}

