div {
	border: 2px solid blue;
	margin: 5px;
}

h1 {
	visibility: visible;
}

#third span p {
	visibility: visible;
}

#second{
	visibility: visible;
}
#second img{
	visibility: visible;
}
#first span p{
	font-size: 2em;
}